.nav {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 43px;
    }
  }

  &__link {
    &--active {
      &::before {
        width: 100%;
        transition: width 0.15s;
      }
    }
  }
}
